

html, body {
    overflow-x: hidden;
  }

.navbar-brand {
    font-size: 2rem;
    color: black;
    font-family:'Lobster',cursive;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik',sans-serif;
}

.nav-link:hover {
    color: black;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(248, 26, 92);
    font-family: 'Rubik',sans-serif;
    margin-right: -35px;
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color:rgb(248, 26, 92) ;
    color: white;
    border-radius: 60px;
    font-weight: 700; 
}

/* /////////////////////////////Banner////////////////////////////// */

.main{
    background:url(images/banner-slide/Banner-1.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none ;
   
    background-color:rgb(248, 26, 92) ;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color:lightgreen;
    transition: 0.5s;

}

.new img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h1{
    font-weight: 700;
}

.card:hover{
    -webkit-box-shadow: 0px 2px 8px 1px rgba(74,73,74,0.27);
-moz-box-shadow: 0px 2px 8px 1px rgba(74,73,74,0.27);
box-shadow: 0px 2px 8px 1px rgba(74,73,74,0.27);
transition:ease 0.5s; 
}

.about img{
    height: 407px;
    
}

.cardbody img{
    height: 167px;
    
}

.apple{
    background: url(images/banner-slide/top-banner.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.news{
background-image: url(images/footer-bg/footer_bg.png);


color: white;
}

.btn2{
    height: 45px;
    width: 100px ;
    background-color: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}

.news input{
    height: 45px ;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
   font-weight: 600;
   margin-bottom: 50px;


}

.news ::placeholder{
color: white;
}

.news p{
    margin: 0;
}

.fa{
    
    cursor: pointer;
    padding-right: 5px;

}

#js{
    color:green;
}

#myBtn {

  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index:1000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92) ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}